* {
	font-size: 28px;
	margin: 0;
	padding: 0;
	font-family: "Red Hat Display", sans-serif;
	transition: all 0.25s;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #e0e8ff;
	background-image: url(/images/pattern-background-desktop.svg);
	background-repeat: no-repeat;
	background-size: 100%;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 450px;
	border-radius: 20px 20px 18px 18px;
	background-color: #ffffff;
	box-shadow: 0px 10px 10px #7280a735;
}

main img {
	width: 100%;
	border-radius: 20px 20px 0 0;
}

main h1 {
	margin-top: 51px;
	font-weight: 700;
	font-size: 1rem;
	line-height: .89rem;
	color: #1a2751;
}

main p {
	width: 321px;
	margin-top: 11px;
	font-weight: 500;
	font-size: .575rem;
	line-height: .92rem;
	text-align: center;
	color: #979eba;
}

main h2 {
	font-weight: 900;
	font-size: .59rem;
	line-height: .92rem;
	letter-spacing: -0.01em;
	color: #1a2751;
}

main a {
	font-weight: 700;
	font-size: .52rem;
	line-height: .89rem;
	letter-spacing: 0.001em;
	text-decoration-line: underline;
	color: #3829e0;
}

main a:hover {
	color: #796fcf;
	text-decoration: none;
}

.offer {
	width: 79%;
	height: 90px;
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #f8f9fe;
	border-radius: 11px;
}

.info {
	display: flex;
	align-items: center;
}

.info img {
	margin: 25px;
	margin-right: 19px;
}

.column {
	width: 3.36rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.column p,
.column h2 {
	margin: 0;
	padding: 0;
}

.offer a {
	margin-right: 6.7%;
}

main button {
	margin-top: 7.2%;
	width: 79%;
	height: 51px;
	border: none;
	background: #3829e0;
	box-shadow: 0px 20px 30px #3829e055;
	border-radius: 11px;

	/*Text inside button*/
	font-weight: 500;
	font-size: .57rem;
	line-height: .93rem;
	color: #fefaff;
}

main button:hover {
	background-color: #796fcf;
}

.CancelOrder {
	margin: 6.64% 0;

	color: #626681;
	font-weight: 700;
	font-size: .55rem;
	line-height: .89rem;
}

.CancelOrder:hover {
	color: #262e52;
}


footer{
	width: 100%;
	display: flex;
	justify-content: center;
}

.attribution{
	position: absolute;
	bottom: 2px;
	color: #7e8397;
}

.attribution p, .attribution a{
	font-size: .5rem;
}

@media screen and (max-width: 500px) {

	body {
		background-image: url(/images/pattern-background-mobile.svg);
	}

	main {
		width: 87%;
	}

	main h1 {
		height: 1.32rem;
		font-size: .82rem;
		line-height: .89rem;
	}

	main p {
		width: 9rem;
		font-weight: 500;
		font-size: .55rem;
	}

	.offer {
		width: 85%;
		height: 12%;
	}

	.offer h2 {
		font-size: .5rem;
		line-height: .92rem;
	}

	.offer p {
		font-size: .52rem;
	}

	.offer a {
		font-size: .48rem;
		line-height: .89rem;
		margin-right: 4%;
	}
}
